<div class="fullwidth-template">
    <div class="slide-home-06">
        <div class="response-product product-list-owl owl-slick equal-container better-height"
             data-slick="{&quot;arrows&quot;:false,&quot;slidesMargin&quot;:0,&quot;dots&quot;:true,&quot;infinite&quot;:false,&quot;speed&quot;:300,&quot;slidesToShow&quot;:1,&quot;rows&quot;:1}"
             data-responsive="[{&quot;breakpoint&quot;:480,&quot;settings&quot;:{&quot;slidesToShow&quot;:1,&quot;slidesMargin&quot;:&quot;0&quot;}},{&quot;breakpoint&quot;:768,&quot;settings&quot;:{&quot;slidesToShow&quot;:1,&quot;slidesMargin&quot;:&quot;0&quot;}},{&quot;breakpoint&quot;:992,&quot;settings&quot;:{&quot;slidesToShow&quot;:1,&quot;slidesMargin&quot;:&quot;0&quot;}},{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;slidesToShow&quot;:1,&quot;slidesMargin&quot;:&quot;0&quot;}},{&quot;breakpoint&quot;:1500,&quot;settings&quot;:{&quot;slidesToShow&quot;:1,&quot;slidesMargin&quot;:&quot;0&quot;}}]">
            <div class="slide-wrap">
                <img src="/assets/images/slide61.jpg" alt="image">
                <div class="slide-info">
                    <div class="container">
                        <div class="slide-inner">
                            <h5><span>Hot Deal Product</span></h5>
                            <h1>Spring Sale</h1>
                            <h2>Limit offer <span>20%</span> Off</h2>
                            <a href="#">Shop now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide-wrap">
                <img src="/assets/images/slide62.jpg" alt="image">
                <div class="slide-info">
                    <div class="container">
                        <div class="slide-inner">
                            <h5>Trending Now</h5>
                            <h1><span>Modern</span> Ring</h1>
                            <h2>Stock <span>Limit</span> In</h2>
                            <a href="#">Shop now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide-wrap">
                <img src="/assets/images/slide63.jpg" alt="image">
                <div class="slide-info">
                    <div class="container">
                        <div class="slide-inner">
                            <h5><span>Earrings Essential</span></h5>
                            <h1>New Arrivals</h1>
                            <h2>Get <span>25%</span> Off</h2>
                            <a href="#">Shop now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-030">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-4 ">
                    <div class="kaycee-iconbox style-03">
                        <div class="iconbox-inner">
                            <div class="icon">
                                <span class="flaticon-startup"></span>
                            </div>
                            <div class="content">
                                <h4 class="title">Fast Shipping.</h4>
                                <div class="desc">With sites in 5 languages, ship to over 200 countries</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4 ">
                    <div class="kaycee-iconbox style-03">
                        <div class="iconbox-inner">
                            <div class="icon">
                                <span class="flaticon-padlock"></span>
                            </div>
                            <div class="content">
                                <h4 class="title">Safe delivery</h4>
                                <div class="desc">Pay with the world’s most popular, secure payment.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4 ">
                    <div class="kaycee-iconbox style-03">
                        <div class="iconbox-inner">
                            <div class="icon">
                                <span class="flaticon-return-1"></span>
                            </div>
                            <div class="content">
                                <h4 class="title">365 Days Return</h4>
                                <div class="desc">Round-the-clock assistance for a shopping experience.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-005">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-6">
                    <div class="kaycee-banner style-05 left-center">
                        <div class="banner-inner">
                            <figure class="banner-thumb">
                                <img src="/assets/images/banner26.jpg"
                                     class="attachment-full size-full" alt="img"></figure>
                            <div class="banner-info ">
                                <div class="banner-content">
                                    <div class="title-wrap">
                                        <div class="banner-label">TOP STAFF PICK</div>
                                        <h6 class="title">Shop Rings</h6>
                                    </div>
                                    <div class="button-wrap">
                                        <div class="subtitle">
                                            Proin interdum primis <br>
                                            id consequat dict
                                        </div>
                                        <a class="button" target="_self" href="#"><span>Shop now</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6">
                    <div class="kaycee-banner style-06 left-center   kaycee_custom_5d67dfcb2178e ">
                        <div class="banner-inner">
                            <figure class="banner-thumb">
                                <img src="/assets/images/banner27.jpg"
                                     class="attachment-full size-full" alt="img"></figure>
                            <div class="banner-info ">
                                <div class="banner-content">
                                    <div class="title-wrap">
                                        <h6 class="title">Maybe You’ve<br>
                                            Earned it</h6>
                                    </div>
                                    <div class="button-wrap">
                                        <div class="subtitle">
                                            Code: <strong>KAYCEE</strong> 25% Off<br>
                                            for all items!
                                        </div>
                                        <a class="button" target="_self" href="#"><span>Shop now</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-001">
        <div class="container">
            <div class="kaycee-heading style-01">
                <div class="heading-inner">
                    <h3 class="title">
                        Best Selling <span></span></h3>
                    <div class="subtitle">
                        Browse our website for the hottest items now.
                    </div>
                </div>
            </div>
            <div class="kaycee-products style-05">
                <div class="response-product product-list-owl owl-slick equal-container better-height"
                     data-slick="{&quot;arrows&quot;:true,&quot;slidesMargin&quot;:30,&quot;dots&quot;:true,&quot;infinite&quot;:false,&quot;speed&quot;:300,&quot;slidesToShow&quot;:4,&quot;rows&quot;:1}"
                     data-responsive="[{&quot;breakpoint&quot;:480,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesMargin&quot;:&quot;10&quot;}},{&quot;breakpoint&quot;:768,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesMargin&quot;:&quot;10&quot;}},{&quot;breakpoint&quot;:992,&quot;settings&quot;:{&quot;slidesToShow&quot;:3,&quot;slidesMargin&quot;:&quot;20&quot;}},{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;slidesToShow&quot;:3,&quot;slidesMargin&quot;:&quot;20&quot;}},{&quot;breakpoint&quot;:1500,&quot;settings&quot;:{&quot;slidesToShow&quot;:4,&quot;slidesMargin&quot;:&quot;30&quot;}}]">
                    <div class="product-item best-selling style-05 rows-space-0 post-25 product type-product status-publish has-post-thumbnail product_cat-light product_cat-chair product_cat-specials product_tag-light product_tag-sock first instock sale featured shipping-taxable purchasable product-type-simple">
                        <div class="product-inner tooltip-right">
                            <div class="product-thumb">
                                <a class="thumb-link"
                                   href="#" tabindex="0">
                                    <img class="img-responsive"
                                         src="/assets/images/apro151-1-270x350.jpg"
                                         alt="Modern Platinum" width="270" height="350">
                                </a>
                                <div class="flash">
                                    <span class="onsale"><span class="number">-11%</span></span>
                                    <span class="onnew"><span class="text">New</span></span></div>
                                <div class="group-button">
                                    <div class="add-to-cart">
                                        <a href="#"
                                           class="button product_type_simple add_to_cart_button ajax_add_to_cart">Add to
                                            cart</a></div>
                                    <a href="#" class="button yith-wcqv-button">Quick View</a>
                                    <div class="kaycee product compare-button">
                                        <a href="#" class="compare button">Compare</a></div>
                                    <div class="yith-wcwl-add-to-wishlist ">
                                        <div class="yith-wcwl-add-button show">
                                            <a href="#" class="add_to_wishlist">Add to Wishlist</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-info">
                                <h3 class="product-name product_title">
                                    <a href="#" tabindex="0">Modern Platinum</a>
                                </h3>
                                <div class="rating-wapper nostar">
                                    <div class="star-rating"><span style="width:0%">Rated <strong
                                            class="rating">0</strong> out of 5</span></div>
                                    <span class="review">(0)</span>
                                </div>
                                <span class="price"><del><span class="kaycee-Price-amount amount">
                                    <span class="kaycee-Price-currencySymbol">$</span>89.00</span></del>
                                    <ins>
                                        <span class="kaycee-Price-amount amount">
                                        <span class="kaycee-Price-currencySymbol">$</span>79.00</span>
                                    </ins>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="product-item best-selling style-05 rows-space-0 post-23 product type-product status-publish has-post-thumbnail product_cat-chair product_cat-lamp product_cat-sofas product_tag-hat  instock shipping-taxable purchasable product-type-variable has-default-attributes">
                        <div class="product-inner tooltip-right">
                            <div class="product-thumb">
                                <a class="thumb-link" href="#"
                                   tabindex="0">
                                    <img class="img-responsive"
                                         src="/assets/images/apro171-1-270x350.jpg"
                                         alt="Splendid Diamond" width="270" height="350">
                                </a>
                                <div class="flash">
                                    <span class="onnew"><span class="text">New</span></span></div>
                                <form class="variations_form cart">
                                    <table class="variations">
                                        <tbody>
                                        <tr>
                                            <td class="value">
                                                <select title="box_style" data-attributetype="box_style"
                                                        data-id="pa_color"
                                                        class="attribute-select " name="attribute_pa_color"
                                                        data-attribute_name="attribute_pa_color"
                                                        data-show_option_none="yes" tabindex="0">
                                                    <option data-type="" data-pa_color="" value="">Choose an
                                                        option
                                                    </option>
                                                    <option data-width="30" data-height="30" data-type="color"
                                                            data-pa_color="#ffe59e" value="pink"
                                                            class="attached enabled">Pink
                                                    </option>
                                                    <option data-width="30" data-height="30" data-type="color"
                                                            data-pa_color="#a825ea" value="purple"
                                                            class="attached enabled">Purple
                                                    </option>
                                                    <option data-width="30" data-height="30" data-type="color"
                                                            data-pa_color="#b6b8ba" value="red"
                                                            class="attached enabled">Red
                                                    </option>
                                                </select>
                                                <div class="data-val attribute-pa_color"
                                                     data-attributetype="box_style">
                                                    <label>
                                                        <input type="radio" name="color">
                                                        <span class="change-value color"
                                                              style="background: #3155e2;" data-value="blue">
                                                            </span>
                                                    </label>
                                                    <label>
                                                        <input type="radio" name="color">
                                                        <span class="change-value color"
                                                              style="background: #52b745;" data-value="green">
                                                            </span>
                                                    </label>
                                                    <label>
                                                        <input type="radio" name="color">
                                                        <span class="change-value color"
                                                              style="background: #ffe59e;" data-value="pink">
                                                            </span>
                                                    </label>
                                                </div>
                                                <a class="reset_variations" href="#" tabindex="0"
                                                   style="visibility: hidden;">Clear</a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </form>
                                <div class="group-button">
                                    <div class="add-to-cart">
                                        <a href="#"
                                           class="button product_type_simple add_to_cart_button ajax_add_to_cart">Select
                                            options</a></div>
                                    <a href="#" class="button yith-wcqv-button">Quick View</a>
                                    <div class="kaycee product compare-button">
                                        <a href="#" class="compare button">Compare</a></div>
                                    <div class="yith-wcwl-add-to-wishlist ">
                                        <div class="yith-wcwl-add-button show">
                                            <a href="#" class="add_to_wishlist">Add to Wishlist</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-info">
                                <h3 class="product-name product_title">
                                    <a href="#" tabindex="0">Splendid Diamond</a>
                                </h3>
                                <div class="rating-wapper nostar">
                                    <div class="star-rating"><span style="width:0%">Rated <strong
                                            class="rating">0</strong> out of 5</span></div>
                                    <span class="review">(0)</span></div>
                                <span class="price"><span class="kaycee-Price-amount amount"><span
                                        class="kaycee-Price-currencySymbol">$</span>105.00</span> – <span
                                        class="kaycee-Price-amount amount"><span
                                        class="kaycee-Price-currencySymbol">$</span>110.00</span></span>
                            </div>
                        </div>
                    </div>
                    <div class="product-item best-selling style-05 rows-space-0 post-32 product type-product status-publish has-post-thumbnail product_cat-light product_cat-chair product_cat-sofas product_tag-hat product_tag-sock last instock sale featured shipping-taxable purchasable product-type-simple">
                        <div class="product-inner tooltip-right">
                            <div class="product-thumb">
                                <a class="thumb-link" href="#"
                                   tabindex="0">
                                    <img class="img-responsive"
                                         src="/assets/images/apro71-1-270x350.jpg"
                                         alt="Gold Chain" width="270" height="350">
                                </a>
                                <div class="flash">
                                    <span class="onsale"><span class="number">-18%</span></span>
                                    <span class="onnew"><span class="text">New</span></span></div>
                                <div class="group-button">
                                    <div class="add-to-cart">
                                        <a href="#"
                                           class="button product_type_simple add_to_cart_button ajax_add_to_cart">Add to
                                            cart</a></div>
                                    <a href="#" class="button yith-wcqv-button">Quick View</a>
                                    <div class="kaycee product compare-button">
                                        <a href="#" class="compare button">Compare</a></div>
                                    <div class="yith-wcwl-add-to-wishlist ">
                                        <div class="yith-wcwl-add-button show">
                                            <a href="#" class="add_to_wishlist">Add to Wishlist</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-info">
                                <h3 class="product-name product_title">
                                    <a href="#" tabindex="0">Gold Chain</a>
                                </h3>
                                <div class="rating-wapper nostar">
                                    <div class="star-rating"><span style="width:0%">Rated <strong
                                            class="rating">0</strong> out of 5</span></div>
                                    <span class="review">(0)</span></div>
                                <span class="price"><del><span class="kaycee-Price-amount amount"><span
                                        class="kaycee-Price-currencySymbol">$</span>109.00</span></del> <ins><span
                                        class="kaycee-Price-amount amount"><span
                                        class="kaycee-Price-currencySymbol">$</span>89.00</span></ins></span>
                            </div>
                        </div>
                    </div>
                    <div class="product-item best-selling style-05 rows-space-0 post-20 product type-product status-publish has-post-thumbnail product_cat-light product_cat-new-arrivals product_cat-specials product_tag-table product_tag-hat product_tag-sock first instock sale featured shipping-taxable purchasable product-type-simple">
                        <div class="product-inner tooltip-right">
                            <div class="product-thumb">
                                <a class="thumb-link"
                                   href="#" tabindex="0">
                                    <img class="img-responsive"
                                         src="/assets/images/apro201-1-270x350.jpg"
                                         alt="Riona Pearl" width="270" height="350">
                                </a>
                                <div class="flash">
                                    <span class="onsale"><span class="number">-7%</span></span>
                                    <span class="onnew"><span class="text">New</span></span></div>
                                <div class="group-button">
                                    <div class="add-to-cart">
                                        <a href="#"
                                           class="button product_type_simple add_to_cart_button ajax_add_to_cart">Add to
                                            cart</a></div>
                                    <a href="#" class="button yith-wcqv-button">Quick View</a>
                                    <div class="kaycee product compare-button">
                                        <a href="#" class="compare button">Compare</a></div>
                                    <div class="yith-wcwl-add-to-wishlist ">
                                        <div class="yith-wcwl-add-button show">
                                            <a href="#" class="add_to_wishlist">Add to Wishlist</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-info">
                                <h3 class="product-name product_title">
                                    <a href="#"
                                       tabindex="0">Riona Pearl</a>
                                </h3>
                                <div class="rating-wapper nostar">
                                    <div class="star-rating"><span style="width:0%">Rated <strong
                                            class="rating">0</strong> out of 5</span></div>
                                    <span class="review">(0)</span></div>
                                <span class="price"><del><span class="kaycee-Price-amount amount"><span
                                        class="kaycee-Price-currencySymbol">$</span>150.00</span></del> <ins><span
                                        class="kaycee-Price-amount amount"><span
                                        class="kaycee-Price-currencySymbol">$</span>139.00</span></ins></span>
                            </div>
                        </div>
                    </div>
                    <div class="product-item best-selling style-05 rows-space-0 post-36 product type-product status-publish has-post-thumbnail product_cat-table product_cat-bed product_tag-light product_tag-table product_tag-sock  instock sale shipping-taxable purchasable product-type-simple">
                        <div class="product-inner tooltip-right">
                            <div class="product-thumb">
                                <a class="thumb-link" href="#"
                                   tabindex="-1">
                                    <img class="img-responsive"
                                         src="/assets/images/apro51012-1-270x350.jpg"
                                         alt="Dazzling Earrings" width="270" height="350">
                                </a>
                                <div class="flash">
                                    <span class="onsale"><span class="number">-21%</span></span>
                                    <span class="onnew"><span class="text">New</span></span></div>
                                <div class="group-button">
                                    <div class="add-to-cart">
                                        <a href="#"
                                           class="button product_type_simple add_to_cart_button ajax_add_to_cart">Add to
                                            cart</a></div>
                                    <a href="#" class="button yith-wcqv-button">Quick View</a>
                                    <div class="kaycee product compare-button">
                                        <a href="#" class="compare button">Compare</a></div>
                                    <div class="yith-wcwl-add-to-wishlist ">
                                        <div class="yith-wcwl-add-button show">
                                            <a href="#" class="add_to_wishlist">Add to Wishlist</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-info">
                                <h3 class="product-name product_title">
                                    <a href="#" tabindex="-1">Dazzling Earrings</a>
                                </h3>
                                <div class="rating-wapper nostar">
                                    <div class="star-rating"><span style="width:0%">Rated <strong
                                            class="rating">0</strong> out of 5</span></div>
                                    <span class="review">(0)</span></div>
                                <span class="price"><del><span class="kaycee-Price-amount amount"><span
                                        class="kaycee-Price-currencySymbol">$</span>125.00</span></del> <ins><span
                                        class="kaycee-Price-amount amount"><span
                                        class="kaycee-Price-currencySymbol">$</span>99.00</span></ins></span>
                            </div>
                        </div>
                    </div>
                    <div class="product-item best-selling style-05 rows-space-0 post-49 product type-product status-publish has-post-thumbnail product_cat-light product_cat-bed product_cat-sofas product_tag-multi product_tag-lamp last instock shipping-taxable purchasable product-type-simple">
                        <div class="product-inner tooltip-right">
                            <div class="product-thumb">
                                <a class="thumb-link"
                                   href="#" tabindex="-1">
                                    <img class="img-responsive"
                                         src="/assets/images/apro302-270x350.jpg"
                                         alt="Stylised Studs" width="270" height="350">
                                </a>
                                <div class="flash">
                                    <span class="onnew"><span class="text">New</span></span></div>
                                <div class="group-button">
                                    <div class="add-to-cart">
                                        <a href="#"
                                           class="button product_type_simple add_to_cart_button ajax_add_to_cart">Add to
                                            cart</a></div>
                                    <a href="#" class="button yith-wcqv-button">Quick View</a>
                                    <div class="kaycee product compare-button">
                                        <a href="#" class="compare button">Compare</a></div>
                                    <div class="yith-wcwl-add-to-wishlist ">
                                        <div class="yith-wcwl-add-button show">
                                            <a href="#" class="add_to_wishlist">Add to Wishlist</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-info">
                                <h3 class="product-name product_title">
                                    <a href="#"
                                       tabindex="-1">Stylised Studs</a>
                                </h3>
                                <div class="rating-wapper nostar">
                                    <div class="star-rating"><span style="width:0%">Rated <strong
                                            class="rating">0</strong> out of 5</span></div>
                                    <span class="review">(0)</span></div>
                                <span class="price"><span class="kaycee-Price-amount amount"><span
                                        class="kaycee-Price-currencySymbol">$</span>79.00</span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-001 section-031">
        <div class="container">
            <div class="kaycee-products style-07">
                <div class="response-product product-list-grid row auto-clear equal-container better-height ">
                    <div class="product-item products style-07 rows-space-0 col-bg-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-ts-12 post-28 product type-product status-publish has-post-thumbnail product_cat-light product_cat-chair product_cat-sofas product_tag-light product_tag-sock first instock sale featured shipping-taxable purchasable product-type-simple">
                        <div class="product-inner" data-items="2">
                            <div class="product-thumb">
                                <div class="product-gallery">
                                    <div class="product-gallery-slick">
                                        <figure class="product-gallery-image"><img
                                                src="/assets/images/apro1211-2-592x592.jpg"
                                                class="img-responsive attachment-592x592 size-592x592" alt="img"
                                                width="592" height="592"></figure>
                                        <figure class="product-gallery-image"><img
                                                src="/assets/images/apro1221-2-592x592.jpg"
                                                class="img-responsive attachment-592x592 size-592x592" alt="img"
                                                width="592" height="592"></figure>
                                        <figure class="product-gallery-image"><img
                                                src="/assets/images/apro1231-2-592x592.jpg"
                                                class="img-responsive attachment-592x592 size-592x592" alt="img"
                                                width="592" height="592"></figure>
                                    </div>
                                    <div class="gallery-dots">
                                        <figure><img
                                                src="/assets/images/apro1211-2-90x90.jpg"
                                                class="img-responsive attachment-90x90 size-90x90" alt="img"
                                                width="90" height="90"></figure>
                                        <figure><img
                                                src="/assets/images/apro1221-2-90x90.jpg"
                                                class="img-responsive attachment-90x90 size-90x90" alt="img"
                                                width="90" height="90"></figure>
                                        <figure><img
                                                src="/assets/images/apro1231-2-90x90.jpg"
                                                class="img-responsive attachment-90x90 size-90x90" alt="img"
                                                width="90" height="90"></figure>
                                    </div>
                                </div>
                            </div>
                            <div class="product-info">
                                <div class="product-info-inner">
                                    <h3 class="title">
                                        Deals of the day <span></span></h3>
                                    <span class="onsale"><span class="number">-14%</span></span>
                                    <h3 class="product-name product_title">
                                        <a href="#">Gold Bracelet</a>
                                    </h3>
                                    <span class="price"><del><span class="kaycee-Price-amount amount"><span
                                            class="kaycee-Price-currencySymbol">$</span>138.00</span></del> <ins><span
                                            class="kaycee-Price-amount amount"><span
                                            class="kaycee-Price-currencySymbol">$</span>119.00</span></ins></span>
                                    <div class="process-valiable">
                                        <div class="valiable-text">
                                            <span class="text">9% Already Sold </span>
                                            <span class="text">Available: <span>21</span></span>
                                        </div>
                                        <span class="valiable-total total">
                                                <span class="process" style="width: 9%"></span>
                                            </span>
                                    </div>
                                    <div class="countdown-product">
                                        <div class="kaycee-countdown" data-datetime="11/29/2020 12:00:00"><span
                                                class="days"><span class="number">438</span><span
                                                class="text">Days</span></span><span class="hour"><span
                                                class="number">02</span><span
                                                class="text">Hours</span></span><span class="mins"><span
                                                class="number">05</span><span
                                                class="text">Mins</span></span><span class="secs"><span
                                                class="number">27</span><span
                                                class="text">Secs</span></span></div>
                                    </div>
                                    <div class="add-to-cart">
                                        <a href="#"
                                           class="button product_type_simple add_to_cart_button ajax_add_to_cart">Add
                                            to cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- OWL Products -->
            </div>
        </div>
    </div>
    <div class="section-032">
        <div class="container">
            <div class="kaycee-heading style-01">
                <div class="heading-inner">
                    <h3 class="title">
                        Follow Us<span></span> </h3>
                    <div class="subtitle">
                        @kayceestore
                    </div>
                </div>
            </div>
            <div class="kaycee-instagram style-01">
                <div class="instagram-owl owl-slick"
                     data-slick="{&quot;arrows&quot;:true,&quot;slidesMargin&quot;:15,&quot;dots&quot;:false,&quot;infinite&quot;:false,&quot;speed&quot;:300,&quot;slidesToShow&quot;:4,&quot;rows&quot;:1}"
                     data-responsive="[{&quot;breakpoint&quot;:480,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesMargin&quot;:&quot;10&quot;}},{&quot;breakpoint&quot;:768,&quot;settings&quot;:{&quot;slidesToShow&quot;:3,&quot;slidesMargin&quot;:&quot;10&quot;}},{&quot;breakpoint&quot;:992,&quot;settings&quot;:{&quot;slidesToShow&quot;:4,&quot;slidesMargin&quot;:&quot;15&quot;}},{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;slidesToShow&quot;:4,&quot;slidesMargin&quot;:&quot;15&quot;}},{&quot;breakpoint&quot;:1500,&quot;settings&quot;:{&quot;slidesToShow&quot;:4,&quot;slidesMargin&quot;:&quot;15&quot;}}]">
                    <div class="rows-space-0">
                        <a target="_blank" href="#" class="item"
                           tabindex="0">
                            <img class="img-responsive lazy" src="/assets/images/insta1.jpg" alt="Home 01">
                            <span class="instagram-info">
                                 <span class="social-wrap">
                                    <span class="social-info">1
                                        <i class="pe-7s-chat"></i>
                                    </span>
                                    <span class="social-info">0
                                        <i class="pe-7s-like2"></i>
                                    </span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="rows-space-0">
                        <a target="_blank" href="#" class="item" tabindex="0">
                            <img class="img-responsive lazy" src="/assets/images/insta2.jpg" alt="Home 01">
                            <span class="instagram-info">
                                         <span class="social-wrap">
                                            <span class="social-info">0
                                                <i class="pe-7s-chat"></i>
                                            </span>
                                            <span class="social-info">0
                                                <i class="pe-7s-like2"></i>
                                            </span>
                                        </span>
                                    </span>
                        </a>
                    </div>
                    <div class="rows-space-0">
                        <a target="_blank" href="#" class="item"
                           tabindex="0">
                            <img class="img-responsive lazy" src="/assets/images/insta3.jpg" alt="Home 01">
                            <span class="instagram-info">
                                         <span class="social-wrap">
                                            <span class="social-info">0
                                                <i class="pe-7s-chat"></i>
                                            </span>
                                            <span class="social-info">0
                                                <i class="pe-7s-like2"></i>
                                            </span>
                                        </span>
                                    </span>
                        </a>
                    </div>
                    <div class="rows-space-0">
                        <a target="_blank" href="#" class="item" tabindex="0">
                            <img class="img-responsive lazy" src="/assets/images/insta4.jpg" alt="Home 01">
                            <span class="instagram-info">
                                         <span class="social-wrap">
                                            <span class="social-info">0
                                                <i class="pe-7s-chat"></i>
                                            </span>
                                            <span class="social-info">0
                                                <i class="pe-7s-like2"></i>
                                            </span>
                                        </span>
                                    </span>
                        </a>
                    </div>
                    <div class="rows-space-0">
                        <a target="_blank" href="#" class="item" tabindex="0">
                            <img class="img-responsive lazy" src="/assets/images/insta5.jpg" alt="Home 01">
                            <span class="instagram-info">
                                         <span class="social-wrap">
                                            <span class="social-info">0
                                                <i class="pe-7s-chat"></i>
                                            </span>
                                            <span class="social-info">0
                                                <i class="pe-7s-like2"></i>
                                            </span>
                                        </span>
                                    </span>
                        </a>
                    </div>
                    <div class="rows-space-0">
                        <a target="_blank" href="#" class="item"
                           tabindex="-1">
                            <img class="img-responsive lazy" src="/assets/images/insta6.jpg" alt="Home 01">
                            <span class="instagram-info">
                                         <span class="social-wrap">
                                            <span class="social-info">0
                                                <i class="pe-7s-chat"></i>
                                            </span>
                                            <span class="social-info">0
                                                <i class="pe-7s-like2"></i>
                                            </span>
                                        </span>
                                    </span>
                        </a>
                    </div>
                    <div class="rows-space-0">
                        <a target="_blank" href="#" class="item"
                           tabindex="-1">
                            <img class="img-responsive lazy" src="/assets/images/insta7.jpg" alt="Home 01">
                            <span class="instagram-info">
                                         <span class="social-wrap">
                                            <span class="social-info">0
                                                <i class="pe-7s-chat"></i>
                                            </span>
                                            <span class="social-info">0
                                                <i class="pe-7s-like2"></i>
                                            </span>
                                        </span>
                                    </span>
                        </a>
                    </div>
                    <div class="rows-space-0">
                        <a target="_blank" href="#" class="item"
                           tabindex="-1">
                            <img class="img-responsive lazy" src="/assets/images/insta8.jpg" alt="Home 01">
                            <span class="instagram-info">
                                     <span class="social-wrap">
                                        <span class="social-info">0
                                            <i class="pe-7s-chat"></i>
                                        </span>
                                        <span class="social-info">0
                                            <i class="pe-7s-like2"></i>
                                        </span>
                                    </span>
                                </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-033">
        <div class="container">
            <div class="section-034">
                <div class="row">
                    <div class="col-xs-12 col-sm-10 col-md-6 offset-sm-1 col-xl-5 col-lg-5">
                        <div class="kaycee-slide">
                            <div class="owl-slick equal-container better-height"
                                 data-slick="{&quot;arrows&quot;:false,&quot;slidesMargin&quot;:0,&quot;dots&quot;:true,&quot;infinite&quot;:false,&quot;speed&quot;:300,&quot;slidesToShow&quot;:1,&quot;rows&quot;:1}"
                                 data-responsive="[{&quot;breakpoint&quot;:480,&quot;settings&quot;:{&quot;slidesToShow&quot;:1,&quot;slidesMargin&quot;:&quot;0&quot;}},{&quot;breakpoint&quot;:768,&quot;settings&quot;:{&quot;slidesToShow&quot;:1,&quot;slidesMargin&quot;:&quot;0&quot;}},{&quot;breakpoint&quot;:992,&quot;settings&quot;:{&quot;slidesToShow&quot;:1,&quot;slidesMargin&quot;:&quot;0&quot;}},{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;slidesToShow&quot;:1,&quot;slidesMargin&quot;:&quot;0&quot;}},{&quot;breakpoint&quot;:1500,&quot;settings&quot;:{&quot;slidesToShow&quot;:1,&quot;slidesMargin&quot;:&quot;0&quot;}}]">
                                <div class="kaycee-testimonial style-02">
                                    <div class="testimonial-inner">
                                        <p class="desc">Lorem ipsum dolor sit amet consectetur
                                            elit,
                                            facilisi viverra morbi aptent taciti hendrerit pulvinar ante</p>
                                        <div class="testimonial-info">
                                            <div class="intro">
                                                <h3 class="name">
                                                    <a href="#" target="_self" tabindex="0">
                                                        Charley Pratt </a>
                                                </h3>
                                                <div class="position">
                                                    Customer
                                                </div>
                                            </div>
                                            <div class="thumb">
                                                <img src="/assets/images/avatar1.png"
                                                     class="attachment-full size-full" alt="img" width="97"
                                                     height="97"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="kaycee-testimonial style-02">
                                    <div class="testimonial-inner">
                                        <p class="desc">Lorem ipsum dolor sit amet consectetur
                                            elit,
                                            facilisi viverra morbi aptent taciti hendrerit pulvinar ante</p>
                                        <div class="testimonial-info">
                                            <div class="intro">
                                                <h3 class="name">
                                                    <a href="#" target="_self" tabindex="-1">
                                                        Nadia Pugh </a>
                                                </h3>
                                                <div class="position">
                                                    Customer
                                                </div>
                                            </div>
                                            <div class="thumb">
                                                <img src="/assets/images/avatar3.png"
                                                     class="attachment-full size-full" alt="img" width="97"
                                                     height="97"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="kaycee-testimonial style-02">
                                    <div class="testimonial-inner">
                                        <p class="desc">Lorem ipsum dolor sit amet consectetur
                                            elit,
                                            facilisi viverra morbi aptent taciti hendrerit pulvinar ante</p>
                                        <div class="testimonial-info">
                                            <div class="intro">
                                                <h3 class="name">
                                                    <a href="#" target="_self" tabindex="-1">
                                                        Troy Bryant </a>
                                                </h3>
                                                <div class="position">
                                                    Customer
                                                </div>
                                            </div>
                                            <div class="thumb">
                                                <img src="/assets/images/avatar2.png"
                                                     class="attachment-full size-full" alt="img" width="97"
                                                     height="97"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-001">
        <div class="container">
            <div class="kaycee-heading style-01">
                <div class="heading-inner">
                    <h3 class="title">
                        From Our Blog<span></span> </h3>
                    <div class="subtitle">
                        Lorem ipsum dolor sit amet consectetur
                    </div>
                </div>
            </div>
            <div class="kaycee-blog style-02">
                <div class="blog-list-owl owl-slick equal-container"
                     data-slick="{&quot;arrows&quot;:true,&quot;slidesMargin&quot;:30,&quot;dots&quot;:true,&quot;infinite&quot;:false,&quot;speed&quot;:300,&quot;slidesToShow&quot;:3,&quot;rows&quot;:1}"
                     data-responsive="[{&quot;breakpoint&quot;:480,&quot;settings&quot;:{&quot;slidesToShow&quot;:1,&quot;slidesMargin&quot;:&quot;10&quot;}},{&quot;breakpoint&quot;:768,&quot;settings&quot;:{&quot;slidesToShow&quot;:1,&quot;slidesMargin&quot;:&quot;10&quot;}},{&quot;breakpoint&quot;:992,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesMargin&quot;:&quot;20&quot;}},{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesMargin&quot;:&quot;20&quot;}},{&quot;breakpoint&quot;:1500,&quot;settings&quot;:{&quot;slidesToShow&quot;:3,&quot;slidesMargin&quot;:&quot;30&quot;}}]">
                    <article
                            class="post-item post-grid rows-space-0 post-195 post type-post status-publish format-standard has-post-thumbnail hentry category-light category-table category-life-style tag-light tag-life-style">
                        <div class="post-inner">
                            <div class="post-thumb">
                                <a href="#" tabindex="0">
                                    <img src="/assets/images/blogpost1-370x330.jpg"
                                         class="img-responsive attachment-370x330 size-370x330" alt="img"
                                         width="370"
                                         height="330"> </a>
                            </div>
                            <div class="post-content">
                                <div class="post-info">
                                    <div class="title-date">
                                        <h2 class="post-title"><a
                                                href="#"
                                                tabindex="0">Not your ordinary multi service.</a></h2>
                                    </div>
                                    <div class="post-meta">
                                        <div class="post-author">
                                            <a href="#"> admin </a>
                                        </div>
                                        <div class="date">
                                            <a href="#">June 03, 2020</a>
                                        </div>
                                    </div>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada sodales
                                    quisque litora dapibus primis lacinia
                                </div>
                            </div>
                        </div>
                    </article>
                    <article
                            class="post-item post-grid rows-space-0 post-192 post type-post status-publish format-standard has-post-thumbnail hentry category-light category-fashion category-multi category-life-style tag-light tag-fashion tag-multi">
                        <div class="post-inner">
                            <div class="post-thumb">
                                <a href="#" tabindex="0">
                                    <img src="/assets/images/blogpost5-370x330.jpg"
                                         class="img-responsive attachment-370x330 size-370x330" alt="img"
                                         width="370"
                                         height="330"> </a>
                            </div>
                            <div class="post-content">
                                <div class="post-info">
                                    <div class="title-date">
                                        <h2 class="post-title"><a
                                                href="#"
                                                tabindex="0">We bring you the best by working</a></h2>
                                    </div>
                                    <div class="post-meta">
                                        <div class="post-author">
                                            <a href="#"> admin </a>
                                        </div>
                                        <div class="date">
                                            <a href="#">June 03, 2020</a>
                                        </div>
                                    </div>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada sodales
                                    quisque litora dapibus primis lacinia
                                </div>
                            </div>
                        </div>
                    </article>
                    <article
                            class="post-item post-grid rows-space-0 post-189 post type-post status-publish format-video has-post-thumbnail hentry category-table category-life-style tag-multi tag-life-style post_format-post-format-video">
                        <div class="post-inner">
                            <div class="post-thumb">
                                <a href="#"
                                   tabindex="0">
                                    <img src="/assets/images/blogpost9-370x330.jpg"
                                         class="img-responsive attachment-370x330 size-370x330" alt="img"
                                         width="370"
                                         height="330"> </a>
                            </div>
                            <div class="post-content">
                                <div class="post-info">
                                    <div class="title-date">
                                        <h2 class="post-title"><a
                                                href="#"
                                                tabindex="0">We design functional best multi</a></h2>
                                    </div>
                                    <div class="post-meta">
                                        <div class="post-author">
                                            <a href="#"> admin </a>
                                        </div>
                                        <div class="date">
                                            <a href="#">June 03, 2020</a>
                                        </div>
                                    </div>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada sodales
                                    quisque litora dapibus primis lacinia
                                </div>
                            </div>
                        </div>
                    </article>
                    <article
                            class="post-item post-grid rows-space-0 post-186 post type-post status-publish format-standard has-post-thumbnail hentry category-light category-life-style tag-life-style">
                        <div class="post-inner">
                            <div class="post-thumb">
                                <a href="#" tabindex="-1">
                                    <img src="/assets/images/blogpost4-370x330.jpg"
                                         class="img-responsive attachment-370x330 size-370x330" alt="img"
                                         width="370"
                                         height="330"> </a>
                            </div>
                            <div class="post-content">
                                <div class="post-info">
                                    <div class="title-date">
                                        <h2 class="post-title"><a
                                                href="#"
                                                tabindex="-1">The child is swimming with a buoy</a></h2>
                                    </div>
                                    <div class="post-meta">
                                        <div class="post-author">
                                            <a href="#"> admin </a>
                                        </div>
                                        <div class="date">
                                            <a href="#">June 03, 2020</a>
                                        </div>
                                    </div>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada sodales
                                    quisque litora dapibus primis lacinia
                                </div>
                            </div>
                        </div>
                    </article>
                    <article
                            class="post-item post-grid rows-space-0 post-183 post type-post status-publish format-standard has-post-thumbnail hentry category-light category-fashion tag-light tag-multi">
                        <div class="post-inner">
                            <div class="post-thumb">
                                <a href="#" tabindex="-1">
                                    <img src="/assets/images/blogpost2-370x330.jpg"
                                         class="img-responsive attachment-370x330 size-370x330" alt="img"
                                         width="370"
                                         height="330"> </a>
                            </div>
                            <div class="post-content">
                                <div class="post-info">
                                    <div class="title-date">
                                        <h2 class="post-title"><a
                                                href="#"
                                                tabindex="-1">Collection hiding beside beige wall</a></h2>
                                    </div>
                                    <div class="post-meta">
                                        <div class="post-author">
                                            <a href="#"> admin </a>
                                        </div>
                                        <div class="date">
                                            <a href="#">June 03, 2020</a>
                                        </div>
                                    </div>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada sodales
                                    quisque litora dapibus primis lacinia
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <div class="border-top-1"></div>
    <div class="section-001">
        <div class="container">
            <div class="kaycee-slide">
                <div class="owl-slick equal-container better-height"
                     data-slick="{&quot;arrows&quot;:true,&quot;slidesMargin&quot;:60,&quot;dots&quot;:false,&quot;infinite&quot;:false,&quot;speed&quot;:300,&quot;slidesToShow&quot;:5,&quot;rows&quot;:1}"
                     data-responsive="[{&quot;breakpoint&quot;:480,&quot;settings&quot;:{&quot;slidesToShow&quot;:3,&quot;slidesMargin&quot;:&quot;30&quot;}},{&quot;breakpoint&quot;:768,&quot;settings&quot;:{&quot;slidesToShow&quot;:3,&quot;slidesMargin&quot;:&quot;30&quot;}},{&quot;breakpoint&quot;:992,&quot;settings&quot;:{&quot;slidesToShow&quot;:4,&quot;slidesMargin&quot;:&quot;40&quot;}},{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;slidesToShow&quot;:5,&quot;slidesMargin&quot;:&quot;50&quot;}},{&quot;breakpoint&quot;:1500,&quot;settings&quot;:{&quot;slidesToShow&quot;:5,&quot;slidesMargin&quot;:&quot;60&quot;}}]">
                    <div class="dreaming_single_image dreaming_content_element az_align_center">
                        <figure class="dreaming_wrapper az_figure">
                            <div class="az_single_image-wrapper   az_box_border_grey effect bounce-in "><img
                                    src="/assets/images/brand-logo-1.png"
                                    class="az_single_image-img attachment-full" alt="img" width="200"
                                    height="100">
                            </div>
                        </figure>
                    </div>
                    <div class="dreaming_single_image dreaming_content_element az_align_center">
                        <figure class="dreaming_wrapper az_figure">
                            <div class="az_single_image-wrapper   az_box_border_grey effect bounce-in "><img
                                    src="/assets/images/brand-logo-5.png"
                                    class="az_single_image-img attachment-full" alt="img" width="200"
                                    height="100">
                            </div>
                        </figure>
                    </div>
                    <div class="dreaming_single_image dreaming_content_element az_align_center">
                        <figure class="dreaming_wrapper az_figure">
                            <div class="az_single_image-wrapper   az_box_border_grey effect bounce-in "><img
                                    src="/assets/images/brand-logo-4.png"
                                    class="az_single_image-img attachment-full" alt="img" width="200"
                                    height="100">
                            </div>
                        </figure>
                    </div>
                    <div class="dreaming_single_image dreaming_content_element az_align_center">
                        <figure class="dreaming_wrapper az_figure">
                            <div class="az_single_image-wrapper   az_box_border_grey effect bounce-in "><img
                                    src="/assets/images/brand-logo-3.png"
                                    class="az_single_image-img attachment-full" alt="img" width="200"
                                    height="100">
                            </div>
                        </figure>
                    </div>
                    <div class="dreaming_single_image dreaming_content_element az_align_center">
                        <figure class="dreaming_wrapper az_figure">
                            <div class="az_single_image-wrapper   az_box_border_grey effect bounce-in "><img
                                    src="/assets/images/brand-logo-2.png"
                                    class="az_single_image-img attachment-full" alt="img" width="200"
                                    height="100">
                            </div>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
  // Window load
  document.onreadystatechange = function() {
  // $(window).on("load", function () {
      kaycee_video();
      kaycee_form();
      kaycee_view_mode_sidebar();
      kaycee_view_mode_nosidebar();
      if ($('.owl-slick').length) {
          $('.owl-slick').each(function () {
              kaycee_init_carousel($(this));
          });
      }
      if ($('.kaycee-threed-view').length > 0) {
          kaycee_threesixty();
      }
      if ($('.vertical-menu').length > 0) {
          kaycee_auto_width_vertical_menu();
      }
      if ($('.kaycee-countdown').length) {
          kaycee_countdown($('.kaycee-countdown'));
      }
      if ($('.product-gallery').length) {
          kaycee_product_gallery($('.product-gallery'));
      }
      if ($('.block-nav-category').length) {
          kaycee_vertical_menu($('.block-nav-category'));
      }
      if ($('.widget_kaycee_nav_menu').length) {
          kaycee_vertical_menu($('.widget_kaycee_nav_menu'));
      }
      if ($('.category-search-option').length) {
          $('.category-search-option').chosen();
      }
      if ($('.category .chosen-results').length && $.fn.scrollbar) {
          $('.category .chosen-results').scrollbar();
      }
      if ($('.block-minicart .cart_list').length && $.fn.scrollbar) {
          $('.block-minicart .cart_list').scrollbar();
      }
      if ($('.widget_product_categories .product-categories').length) {
          kaycee_category_product($('.widget_product_categories .product-categories'));
      }
      if ($('.header-sticky .header-wrap-stick').length) {
          kaycee_header_sticky($('.header-sticky .header-wrap-stick'));
      }
      if ($('.equal-container.better-height').length) {
          kaycee_better_equal_elems($('.equal-container.better-height'));
      }
      kaycee_popover_button();
      kaycee_magnific_popup();
      kaycee_title_tooltip();
  }
  // Window resize
  $(window).on("resize", function () {
      if ($('.vertical-menu').length > 0) {
          kaycee_auto_width_vertical_menu();
      }
      if ($('.equal-container.better-height').length) {
          kaycee_better_equal_elems($('.equal-container.better-height'));
      }
  });


</script>