<footer id="footer" class="footer style-06">
    <div class="section-036">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-4">
                    <div class="logo-footer">
                        <img src="/assets/images/logo.png"
                             class="az_single_image-img attachment-full" alt="img">
                    </div>
                    <div class="kaycee-listitem style-01">
                        <div class="listitem-inner">
                            <ul class="listitem-list">
                                <li>
                                    <span class="icon"><span class="flaticon-localization"></span></span>
                                    45 Grand Central Terminal New York,NY 1017 United State USA
                                </li>
                                <li>
                                    <a href="mailto:contact@yourcompany.com" target="_self">
                                        <span class="icon"><span class="flaticon-email"></span></span>
                                        contact@yourcompany.com </a>
                                </li>
                                <li>
                                    <span class="icon"><span class="flaticon-telephone"></span></span>
                                    (+123) 456 789 - (+204) 666 888
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="kaycee-socials style-01">
                        <div class="content-socials">
                            <ul class="socials-list">
                                <li>
                                    <a href="https://facebook.com" target="_blank">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com" target="_blank">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com" target="_blank">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.pinterest.com" target="_blank">
                                        <i class="fa fa-pinterest-p"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2">
                    <div class="kaycee-listitem style-01">
                        <div class="listitem-inner">
                            <h4 class="title">
                                Customer </h4>
                            <ul class="listitem-list">
                                <li>
                                    <a href="#" target=" _blank">
                                        Shipping &amp; Returns </a>
                                </li>
                                <li>
                                    <a href="#" target="_self">
                                        Secure Shopping </a>
                                </li>
                                <li>
                                    <a href="#" target="_self">
                                        Order Status </a>
                                </li>
                                <li>
                                    <a href="#" target="_self">
                                        International Shipping </a>
                                </li>
                                <li>
                                    <a href="#" target="_self">
                                        Affiliates </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2">
                    <div class="kaycee-listitem style-01">
                        <div class="listitem-inner">
                            <h4 class="title">
                                Information </h4>
                            <ul class="listitem-list">
                                <li>
                                    <a href="#" target="_self">
                                        Privacy Policy </a>
                                </li>
                                <li>
                                    <a href="#" target="_self">
                                        Customer Service </a>
                                </li>
                                <li>
                                    <a href="#" target="_self">
                                        Orders and Returns </a>
                                </li>
                                <li>
                                    <a href="#" target="_self">
                                        Contact </a>
                                </li>
                                <li>
                                    <a href="#" target="_self">
                                        Sitemap </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <div class="kaycee-newsletter style-04">
                        <div class="newsletter-inner">
                            <div class="newsletter-info">
                                <div class="newsletter-wrap">
                                    <h3 class="title">Newsletter<span></span></h3>
                                    <h4 class="subtitle">Get Discount 30% Off</h4>
                                    <p class="desc">Nam sed felis at eros blandit ultrices et quis quam. In sit amet
                                        molestie lectus.</p>
                                </div>
                            </div>
                            <div class="newsletter-form-wrap">
                                <div class="newsletter-form-inner">
                                    <input class="email email-newsletter" name="email"
                                           placeholder="Enter your email ..." type="email">
                                    <a href="#" class="button btn-submit submit-newsletter">
                                        <span class="text">Subscribe</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-016">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>© Copyright 2020 <a href="#">Kaycee</a>. All Rights Reserved.</p>
                </div>
                <div class="col-md-6">
                    <div class="payment">
                        <img src="/assets/images/payment.png"
                             class="az_single_image-img attachment-full" alt="img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="footer-device-mobile">
    <div class="wapper">
        <div class="footer-device-mobile-item device-home">
            <a href="index.html">
					<span class="icon">
						<span class="pe-7s-home"></span>
					</span>
                Home
            </a>
        </div>
        <div class="footer-device-mobile-item device-home device-wishlist">
            <a href="wishlist.html">
					<span class="icon">
						<span class="pe-7s-like"></span>
					</span>
                Wishlist
            </a>
        </div>
        <div class="footer-device-mobile-item device-home device-cart">
            <a href="cart.html">
					<span class="icon">
						<span class="flaticon-shopping-bag-1"></span>
						<span class="count-icon">
							0
						</span>
					</span>
                <span class="text">Cart</span>
            </a>
        </div>
        <div class="footer-device-mobile-item device-home device-user">
            <a href="my-account.html">
					<span class="icon">
						<span class="flaticon-profile"></span>
					</span>
                Account
            </a>
        </div>
    </div>
</div>